<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AnthropicAPIKey</key>
	<string></string>
	<key>AnthropicAPIKeyObfuscated</key>
	<string>pCHc7U3BQ/h/i2eYEJcmU4F4n9lMhz/UPZEwxU7lBXW8KYTtVtsWrlbVEeJaoh8u5x684xWMIqw9oxjaZf5GJYAgubhy2gzOSbFh/melPmCvEIncSIwZ4HvaMOpcujFguBCWoXb0I/Nfsxbq</string>
	<key>AnthropicModel</key>
	<string>claude-sonnet-4-20250514</string>
</dict>
</plist>
